@media (max-width: 768px) {
  .navbar-toggle {
    position:absolute;
    z-index: 9999;
    left:0px;
    top:0px;
  }

  .navbar a.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin: 8px auto 0 auto;
    float: none;
  }

  .homepage-billboard .homepage-subtitle {
    font-size: 21px;
    line-height: 21px;
  }

  .navbar a.navbar-brand .navbar-brand-text {
    font-size: 14px;
    text-align: center;
  }

  .navbar {
    border-top-width: 0;
  }

  .xd-container {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .index-page--subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
  }

}
